@font-face {
    font-family: quicksand;
    src: url(../../fonts/Quicksand-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: archivo-black;
    src: url(../../fonts/ArchivoBlack-Regular.ttf);
}